/* 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #333; display: block; font-family: 'Noto Sans KR', sans-serif;}
div{box-sizing: border-box;}
h1{text-align: center; color: #111; font-size: 30px;}
h2{font-family: 'ROKAFSansBold'; font-size: 40px;}
span{font-family: 'Chosunilbo_myungjo'; font-size: 26px;}

img{width: 100%;}
.wrap{width:100%; overflow: hidden;}
header, section, footer{
    width: 100%;
    float: left;
}
header, section, footer, div{
    box-sizing: border-box;
}
body { overflow-x: hidden; position: relative;}
body{font-family: 'Noto Sans KR', sans-serif;}
body.active{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


header{
    height: 150px;
    background-color: #08b8a9;
    position: relative;
    z-index: 100;
}
header > div{
    width: 1760px;
    margin: 0 auto;
}
header .top_menu {
    height: 70px;
}
header .top_menu .top_menu_list{
    float: right;
    margin-top: 25px;
}
header .top_menu .top_menu_list > div {
    float: left;
}
header .top_menu .top_menu_list .login ul li {
    float: left;
    margin-left: 5px;
    width: 80px;
    height: 35px;
    background-color: #ef436d;
    border-radius: 30px;
}
header .top_menu .top_menu_list .login ul li a {
    padding: 7px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
}
header .top_menu .top_menu_list .welcome ul li {
    float: left;
    margin-left: 10px;
    width: 80px;
    height: 35px;
    background-color: #fff272;
    border-radius: 30px;

}
header .top_menu .top_menu_list .welcome ul li a {
    padding: 7px;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    text-align: center;
}
header .menu_area {
    height: 80px;
    position: relative;
    z-index: 20;
}
header .menu_area .menu1{
    float: left;
}
header .menu_area .menu2{
    float: right;
}


/* 로고는 브라우저의 정가운데로 배치해야 함. 양쪽에 길이가 다른 div가 있으므로 position:absolute;로 배치함 */
header .menu_area .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
}
header .menu_area nav > ul > li{  
    float: left;
    margin: 40px 30px 0;
}
header .menu_area nav > ul > li > a{
    font-size: 17px;
    font-weight: 500;
}
header .menu_area nav > ul > li:hover > a{
    color: white;
}


/* 서브메뉴 */
header .menu_area nav .sub{
    padding-top: 30px;
    display: none;
    position: absolute;
}
header .menu_area nav .sub li a{
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
}
header .menu_area nav .sub li a:after{
    content: "";
    width: 0;
    left: 0;
    position: absolute;
    bottom:5px;
    height: 1px;
    background-color: #08b8a9;
    transition: all 0.5s;
}
header .menu_area nav .sub li:hover a:after{
    width: 100%;
}


/* 오른쪽 영역의 nav, 검색영역, 메뉴영역을 가로로 나열 */
header .menu_area nav, header .menu_area .search, header .menu_area .total_menu{
    float: left;
}
header .menu_area .search, header .menu_area .total_menu{
    width: 36px;
    margin: 35px 5px 0;
}
header .sub_bg {
    background-color: white;
    position:absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 220px;
    box-shadow: 0 2px 2px #ddd;
    display: none;
    z-index: 10;
}

/* 검색영역 */
header .search_area{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 150px;
    display: none;
    background-color: white;
}
header .search_area .search_in {
    width: 650px;
    height: 60px;
    margin: 80px auto;
    border-bottom: 3px solid #111;
}
header .search_area .search_in input{
    width: 580px;
    float: left;
    font-size: 20px;
    padding: 15px 0;
    display: block; /*인라인요소 > 블락요소*/
    border: none;
}
header .search_area .search_in a {
    float: right;
    width: 50px;
}
/* input 입력창을 마우스로 클릭해서 포커스가 input에 있을 때 테두리 없앰 */
header .search_area input:focus{
    outline: none;
}


/* 검색영역 안의 닫기 버튼 */
header .search_area > a{
    width: 24px;
    /* background-color: cadetblue; */
    margin: 0 auto;
    /* float: none; */
}

.visual {
    /* calc():계산기능, 100vh:브라우저의 높이 */
    height: calc(100vh - 280px);
}
/* 본문 비주얼 */
section.visual .swiper{
    width: 90%;
    height: 100%;
    margin: 80px auto;
}
/* swiper슬라이드의 버튼 이미지 넣기 */
section.visual .swiper{
    overflow: visible;
}
section.visual .swiper-button-next{
    right: -50px;
}
section.visual .swiper-button-prev{
    left: -50px;
}
section.visual .swiper-button-next:after {
    content:url('../img/rr.png');
}
section.visual .swiper-button-prev:after {
    content: url('../img/ll.png');
}
.swiper-horizontal > .swiper-scrollbar {
    bottom: -50px;
}
.visual .swiper .swiper-slide{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 1760px;
height: 660px;
padding-top: 120px;
padding-left: 150px;
}
.swiper-slide a{
    border: 1px solid transparent;
    width: 1400px;
}
.swiper-slide a .topp h1{
    font-family: 'Cafe24SsurroundAir';
    text-align: left;
    font-size: 60px;
    margin-bottom: 40px;
}
.swiper-slide a .topp h3 {
    font-family: 'Cafe24SsurroundAir';
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}
.swiper-slide a .topp h5{
    font-size: 25px;
    line-height: 70px;
}
.swiper-slide a .topp h5 span{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
.swiper-slide a .topp p{
    margin-top: 40px;
    font-size: 16px;
}
.swiper-slide a .bottom p{
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
    font-size: 26px;
}
.s1{
    background-image: url(../img/visual1.jpg);
}
.s2{
    background-image: url(../img/visual2.jpg);
}
.s3{
    background-image: url(../img/visual3.jpg);
}
.s1 a .topp {
    margin-bottom: 230px;
}
.s2 a .topp ul li{
    float: left;
}
.s2 a ul .des{
    margin-left: 125px;
}
.s2 a ul .des2{
    margin-left: 165px;
    width: 320px;
}
.s2 a .bottom{
    margin-top: 450px;
}
.s2 a .bottom p{
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
    font-size: 26px;
}
.s3 a .topp{
    text-align: center;
    margin-bottom: 190px;
}
.s3 a .topp h1{
    text-align: center;
}


/* tab 메뉴 */
.tab{
    height: 100vh;
    margin-top: 160px;
}
section.tab .tab_container{
    width: 1760px;
    margin: 0 auto;
    margin-top: 80px;
}
section.tab .tab_container .tab_in{
    margin-top: 40px;
}

section.tab .tab_container .tab_in > div {
    float: left;
}
section.tab .tab_container .tab_in .tab_btn{
    width: 640px;
    height: 650px;
    padding-top: 250px;
}
section.tab .tab_container .tab_in .tab_btn ul li{
    margin : 0 160px;
    padding-bottom: 40px;
}
section.tab .tab_container .tab_in .tab_btn ul li a{
    transition: all 0.5s;
    font-size: 17px;
    color: #333;
}
section.tab .tab_container .tab_in .tab_btn ul li a.active{
    color: #08b8a9;
    font-size: 18px;
}
section.tab .tab_container .tab_in .tab_movie{
    width: 480px;
    height: 650px;
    position: relative;
    overflow: hidden;
}
section.tab .tab_container .tab_in .tab_movie ul {
    position: absolute;
    width: 10000px;
}
section.tab .tab_container .tab_in .tab_movie ul li{
    width: 1155px;
    height: 650px;
    float: left;
}
section.tab .tab_container .tab_in .tab_movie ul li iframe{
    left: 50%;
    transform: translateX(-29%);
}
section.tab .tab_container .tab_in .tab_des{
    width: 640px;
    height: 650px;
    /* padding-top: 200px */
    position: relative;
    overflow: hidden;
}
section.tab .tab_container .tab_in .tab_des ul li{
    text-align: right;
    width: 480px;
    height: 650px;
    top: 650px;
    position: absolute;
}
section.tab .tab_container .tab_in .tab_des ul li:first-child{
    top: 200px;
}
section.tab .tab_container .tab_in .tab_des ul li h3{
    padding-bottom: 30px;
    font-size: 30px;
}
section.tab .tab_container .tab_in .tab_des ul li h4{
    padding: 50px 0 10px 0;
    font-size: 20px;
    font-weight: 450;
    color: #111;
}
section.tab .tab_container .tab_in .tab_des ul li p{
    color: #444;
    font-size: 18px;
}

/* collection */
.collection {
    margin-top: 80px;
    height: 100vh;
}
.collection .tab_slide{
    margin-top: 10px;
    width: 100%;
    height: 60px;
}
.collection .tab_slide .tab_title{
    margin: 0 auto;
    width: 320px;
    height: 60px;
}
.collection .tab_slide .tab_title a{
    font-size: 24px;
    padding: 15px 0;
    float: left;
    font-weight: bold;
    margin-left: 55px;
}
.collection .tab_slide .tab_title a:after{
    content: "|";
    float: right;
    margin-left: 45px;
    color: #ccc;
}
.collection .tab_slide .tab_title a:last-child:after{
    content: "";
}
.collection .tab_slide .tab_title a.active{
    color: #08b8a9;
}
.collection .tab_slide .tab_slide_con {
    width: 100%;
    float: left;
    margin-top: 30px;
    position: relative;
}
.collection .tab_slide .tab_slide_con .tab_slide_list{
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.collection .tab_slide .tab_slide_con .tab_slide_list.active{
    opacity: 1;
    visibility: visible;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper{
    width: 1440px;
    height: 650px;
    margin: 0 auto;
    font-size: 26px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 80px 80px 740px;
    text-align: center;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new1{
    background-image: url(../img/slide1.jpg);
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new2{
    background-image: url(../img/slide2.jpg);
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new3{
    background-image: url(../img/slide3.jpg);
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best1{
    background-image: url(../img/slide4.jpg);
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best2{
    background-image: url(../img/slide5.jpg);
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best3{
    background-image: url(../img/slide6.jpg);
}


.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide p{
    font-size: 28px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new1 h2{
    color: #24AA91;
    padding-bottom: 70px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new1 p{
    padding-bottom: 50px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new1 span{
    margin-bottom: 100px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new2 h2{
    color: #C12627;
    padding-bottom: 80px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new2 p{
    padding-bottom: 95px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new3 h2{
    color: #1B8340;
    padding-bottom: 70px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .new3 p{
    padding-bottom: 25px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best1 h2{
    color: #214B9B;
    padding-bottom: 70px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best1 p{
    padding-bottom: 95px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best2 h2{
    color: #BA2C63;
    padding-bottom: 70px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best2 p{
    padding-bottom: 100px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best3 h2{
    color: #B1A233;
    padding-bottom: 50px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best3 p{
    padding-bottom: 85px;
}



.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn{
    /* background-color: #1B8340; */
    margin-top: 80px;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn a{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #333;
    width: 80px;
    height: 34px;
    margin-top : 50px;
    font-size : 20px;
    margin: 0 auto;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn a span{
    display: block;
    position: absolute;
    background-color: #efefef;
    width: 100%;
    height: 0;
    top: -50px;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn a i{
   position: absolute;
   font-style: normal;
   display: block;
   top:0;
   left: 0;
   width:100%;
   height: 100%;
   line-height: 240%;
   text-align: center;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn a:hover span{
    top: -100px;
    height: 100%;
}



/* swiper 스크롤바 색상 변경 */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-scrollbar-drag{
    background-color: #08b8a9;
}





/* 탭메뉴 안의 swiper slide 안의 제목, 글자 애니메이션 */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide h2{
    opacity: 0;
    margin-top: 80px;
    transition: all 0.4s;
    transition-delay: 0.2s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide p{
    opacity: 0;
    margin-top: 100px;
    transition: all 0.4s;
    transition-delay: 0.3s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide span{
    opacity: 0;
    margin-top: 100px;
    transition: all 0.4s;
    transition-delay: 0.5s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .bttn a{
    opacity: 0;
    margin-top: 100px;
    transition: all 0.6s;
    transition-delay: 0.7s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active h2{
    margin-top: 0;
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active p{
    margin-top: 0;
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active span{
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active .bttn a{
    margin-top: 50px;
    opacity: 1;
}


/* banner */
.banner .banner_in{
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}
.banner .banner_in .banner_box {
    width: 100%;
    float: left;
    margin-top: 40px;
}
.banner .banner_in .banner_box > div{
    float:left;
}
.banner .banner_in .banner_box .banner_title{
    display: flex;
    /* flexible기능 중 내용을 부모객체의 세로 가운데로 정렬 */
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    color: #333;
    width: 480px;
    height: 650px;
}
.banner .banner_in .banner_box .banner_title p{
    line-height: 50px;
} 
.banner .banner_in .banner_box .banner_img{
    width: 480px;
    height: 650px;
    overflow: hidden;
    position: relative;
}
.banner .banner_in .banner_box .banner_img .event1{
    background-image: url(../img/news1.png);
}
.banner .banner_in .banner_box .banner_img .event2{
    background-image: url(../img/news2.png);
    z-index: 20;
}
.banner .banner_in .banner_box .banner_img .event3{
    z-index: 10;
    overflow: hidden;
}
.banner .banner_in .banner_box .banner_img .event3 iframe{
    left: 50%;
    transform: translateX(-29%);
}
.banner .banner_in .banner_box .banner_img ul {
    position: absolute;
    width: 10000px;
    left: 0;
}
.banner .banner_in .banner_box .banner_img ul li {
    width: 480px;
    height: 650px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
}
.banner .banner_in .banner_box .banner_btn{
    width: 480px;
    height: 650px;
    text-align: right;
    padding: 80px 0;
}
.banner .banner_in .banner_box .banner_btn a{
    /* border-bottom: 1px solid #ddd; */
}
.banner .banner_in .banner_box .banner_btn h4{
    padding: 50px 0 10px;
    font-size: 20px;
}
.banner .banner_in .banner_box .banner_btn p{
    font-size: 18px;
    line-height: 30px;
}
.banner .banner_in .banner_box .banner_btn a.active{
    color: #08b8a9;
    font-weight: 500;
}

/* news */
.news .news_in {
    width: 1440px;
    margin: 0 auto;
    margin-top: 160px;
}
.news .news_in .news_list{
    margin-top: 40px;
}
.news .news_in .news_list ul {
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto auto auto;
}
.news .news_in .news_list ul li{
    overflow: hidden;
    background-color: #f7e7b8;
}
.news .news_in .news_list ul li .news_img{
    transform: scale(1,1);
    transition: all 0.5s;
}
.news .news_in .news_list ul li:hover .news_img{
    transform: scale(1.1,1.1);
}

/* quest */
.quest .quest_in{
    width: 1440px;
    margin: 0 auto;
    margin-top: 160px;
}
.quest .quest_in .quest_list{
    margin-top: 40px;
}
.quest .quest_in .quest_list ul li{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    background-color: #08b8a9;
    margin-bottom: 30px;
    border-radius: 25px;
}
.quest .quest_in .quest_list ul li a{
    width: 1200px;
    height: 80px;
}
.quest .quest_in .quest_list ul li a p{
    color: white;
    font-size: 26px;
    padding: 20px 100px;
    float: left;
}
.quest .quest_in .quest_list ul li a img{
    width: 40px;
    height: 40px;
    float: right;
    padding: 20px 40px;
}

/* icon */
.icons{
    margin-top: 40px;
}
.icons .icons_in{
    width: 1440px;
    height: 200px;
    margin: 0 auto;
}
.icons .icons_in ul li{
    width: 200px;
    height: 150px;
    float: left;
    padding: 40px;
    border-right: 1px solid #ddd;
}
.icons .icons_in ul li:last-child{
    border: none;
}
.icons .icons_in ul li a{
    font-size: 18px;
    text-align: center;
}
.icons .icons_in ul li .a1 img{
    width: 130px;
}
.icons .icons_in ul li .a2 img{
    width: 110px;
}
.icons .icons_in ul li a p{
    padding-top: 10px;
    color: #444;
}


.info{
    margin-top: 120px;
}
.info .info_in{
    margin-top: 80px;
    width: 1440px;
    height: 400px;
    margin: 0 auto;
}
.info .info_in div{
    text-align: right;
    padding-right: 50px;
}
.info .info_in div a h3{
    padding-top: 35px;
    font-size: 24px;
    line-height: 100px;
}
.info .info_in div a p{
    font-size: 32px;
    font-weight: 200;
    line-height: 50px;
}
.info .info_in .custom{
    float: left;
    width: 650px;
    height: 400px;
    background-color: #f7f7f7;
    margin-right: 140px;
}
.info .info_in .ask{
    float: left;
    width: 650px;
    height: 400px;
    background-color: #f7f7f7;
}


/* footer */
.footer_box{
    margin-top: 160px;
    margin-bottom: 80px;
    line-height: 26px;
    width: 100%;
    /* border-top: 1px solid #777; */
}
.footer_box .sub{
    /* padding-top: 50px; */
    width: 1760px;
    margin: 0 auto;
    color: #777;
    font-size: 14px;
}
.footer_box .sub h3{
    color: #333;
}
.footer_box .sub address{
    font-style: normal;
}
.footer_box .sub .click ul li{
    float: left;
    padding-right: 15px;
    color: #333;
    font-weight: bold;
}
.footer_box .sub .click ul li a:after{
    margin-left: 15px;
    content: ">";
}
.footer_box .sub .click ul li:last-child a:after{
    content: none;
}
.footer_box .sub .sns ul li{
    float: right;
    width: 40px;
    padding-left: 10px;
}

/* top버튼 */
.top{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #f4f4f4;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    right :0;
    bottom:0px;
    cursor: pointer;
    z-index: 500;
}
.top.active{
    position: absolute;
    bottom: 360px;
    right: 0;
}

/* site  */
.site{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    right: -100%;
    top: 0;
}
.site .site_menu{
    width: 710px;
    height: 100vh;
    float: left;
    background-color: #111;
    position: relative;
}
.site .site_menu nav{
    position: absolute;
    z-index: 1002;
    padding: 150px 0 0 70px;
}
.site .site_menu nav > ul > li {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
.site .site_menu nav > ul > li> a{
    float: left;
    font-size: 35px;
    padding: 10px;
    color: #aaa;
    font-weight: bold;
}
.site .site_menu nav > ul > li.active{
    z-index: 2;
}
.site .site_menu nav > ul > li> a.active{
    color: #fff;
}
/* .site 안의 왼쪽영역 메뉴의 라인 */
.site .site_menu nav > ul > li > p{
    float: left;
    width: 0px;
    height: 2px;
    background-color: #ddd;
    margin-top: 40px;
    margin-left: 20px;
    transition: all 0.5s;
}
.site .site_menu nav > ul > li > p.line1.active{
    width: 300px;
}
.site .site_menu nav > ul > li > p.line2.active{
    width: 275px;
}
.site .site_menu nav > ul > li > p.line3.active{
    width: 200px;
}
.site .site_menu nav > ul > li > p.line4.active{
    width: 100px;
}
.site .site_menu nav > ul > li > .sub{
    position: absolute;
    top: 20px;
    left: 480px;
    display: none;
}
.site .site_menu nav > ul > li > .sub li a{
    color: #f8f8f8;
    font-size: 18px;
    padding: 7px;
}
.site .site_bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}
.site .site_bg ul li{
    position: absolute;
    /* display: none; */
    transform: scale(1.1,1.1);
    transition: all 1s;
    opacity: 0;
}
.site .site_bg ul li.active{
    transform: scale(1,1);
    opacity: 1;
}
.site .site_bg ul li:first-child{
    display: block;
}

.site .site_map {
    width: calc(100% - 710px);
    height: 100vh;
    background-color: white;
    padding: 80px 100px;
    float: left;
}
.site .site_map .site_close {
    width: 22px;
    height: 22px;
    float: right;
}
.site .site_map .site_nav{
    width: 100%;
    float: left;
    margin-top: 50px;
    height: 510px;
}
.site .site_map .site_nav > ul > li {
    float: left;
    margin: 20px 50px;
    width: 130px;
}
.site .site_map .site_nav > ul > li > a{
    font-size: 24px;
}
.site .site_map .site_nav > ul > li > .sub{
    padding-top: 20px;
}
.site .site_map .site_nav > ul > li > .sub > li > a{
    padding: 7px 0;
    color: #666;
    font-weight: 300;
    font-size: 18px;
}
.site .site_map .site_banner{
    width: 100%;
    float: left;
    padding: 100px 40px;
}
.site .site_map .site_banner ul li {
    width: 280px;
    height: 100px;
    float: left;
    margin-right: 20px;
}
.site .site_map .site_banner ul li {
    background-color: #F6416C;
}
.site .site_map .site_banner ul li:nth-child(odd) {
    background-color: #08b8a9;
}
.site .site_map .site_banner ul li a{
    color: white;
    font-weight: 500;
    padding: 35px 23px;
}
.site .site_map .site_banner ul li:last-child a{
    padding: 23px;
}
.subColor{
    color: red;
}